@tailwind base;
@tailwind components;
html{
    scroll-behavior: smooth;
}
.rye{
font-family: 'Rye', sans-serif;
}
.norican{
    font-family: 'Norican', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.flip-horizontally {
  transform: scaleX(-1);
}
small{
    font-weight: 400;
}

@tailwind utilities;